.home-2-hero-slider {
  .slick-slide {
    .zirox-hero__slider-item {
      position: relative !important;
      
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
        background-size: cover;
        background-position: center;
        opacity: 0.45;
      }
      
      .container {
        position: relative;
        z-index: 1;
      }
    }
  }
  
  .slick-slide:nth-child(1) .zirox-hero__slider-item::before {
    background-image: url('/testwb/img/photo1.png');
  }
  
  .slick-slide:nth-child(2) .zirox-hero__slider-item::before {
    background-image: url('/testwb/img/photo2.png');
  }
}
